{% load url from future %}
<div id="search-box">
Search release to add to your timeline
<form action="{% url 'timeline.views.search' %}" method="get" id="search-form">
<input type="text" name="q" id="search-query"
value="{% if query %} {{query}} 
{% else %}Artist, album, song, catalog number...{%endif%}" class="{% if not query %}faded{% endif %} big"/>
<input type="submit" value="Search" class="big"
       id="search-button"/>
</form>
</div>
<div id="search-results" class="light-grey hidden">
<ul id="results-list">
</ul>
</div>
<div id="search-live" class="center-text hidden">
<span id="live-message">Querying Discogs ...</span>
<div class="center-text" id="spinner-div">
<div id="progress-bar"><div id="progress"></div></div>
</div>
</div>
